body {
    background-color: rgb(46, 46, 182);
    background-image: linear-gradient(to top left,rgb(46, 46, 182), yellow);
}

h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
}

h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
}

Section {
    height: 90%;
    Width: 100%;
}

.nav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background: #ddd;
    color: black;
}
#row1 {
    height: 400px;
    margin-top: 80px;

}

#row1_1 div {
    height: 200px;

}

#row2 {
    position: relative;
    width: 100%;
    margin-top: 40px;

}


#Teams{

    overflow-y: scroll;
    height: 400px;
}